@font-face {
  font-family: 'iconfont';  /* Project id 3220513 */
  src: url('//at.alicdn.com/t/font_3220513_gmbhh5eicyf.woff2?t=1646441553786') format('woff2'),
       url('//at.alicdn.com/t/font_3220513_gmbhh5eicyf.woff?t=1646441553786') format('woff'),
       url('//at.alicdn.com/t/font_3220513_gmbhh5eicyf.ttf?t=1646441553786') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}